@import "../../GeneralStyle/mixins.scss";
@import "../../GeneralStyle/variables.scss";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: sticky;
  top: 0px;

  // .home {
  //   background-image: url(../../assets/svg/hearo-img.svg);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   height: 83vh;
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  //   position: relative;

  //   .sub-home {
  //     @include flexHorizontal;
  //     justify-content: center;
  //     flex-direction: column;
  //     align-items: center;
  //     height: 100%;
  //     gap: 50px;
  //     width: 100%;
  //     img {
  //       @media screen and (max-width: 992px) {
  //         width: 25%;
  //       }
  //     }

  //     .titles {
  //       @include flexHorizontal;
  //       gap: 30px;
  //       @media screen and (max-width: 576px) {
  //         gap: 15px;
  //       }

  //       p {
  //         color: #fff;
  //         text-align: center;
  //         font-family: $fontFamily;
  //         font-size: 50px;
  //         font-style: normal;
  //         font-weight: 700;
  //         line-height: normal;
  //         margin: 0px;
  //         @media screen and (max-width: 992px) {
  //           font-size: 24px;
  //         }
  //         @media screen and (max-width: 576px) {
  //           font-size: 18px;
  //         }
  //       }
  //     }
  //   }

  //   .tabs {
  //     width: 90%;
  //     border-radius: 100px;
  //     position: absolute;
  //     bottom: -35px;
  //     padding: 20px 0px;
  //     background-color: #fff;
  //     display: flex;
  //     justify-content: space-between;

  //     .instituteButton {
  //       width: 100%;
  //       background-color: transparent;
  //       border: none;
  //       font-family: $fontFamily;
  //       font-size: 26px;
  //       font-style: normal;
  //       font-weight: 700;
  //       line-height: normal;
  //       color: $primaryColor;
  //       cursor: pointer;
  //       @media screen and (max-width: 768px) {
  //         font-size: 18px;
  //       }
  //       @media screen and (max-width: 470px) {
  //         font-size: 15px;
  //       }
  //     }

  //     .solutionButton {
  //       width: 100%;
  //       background-color: transparent;
  //       border: none;
  //       font-family: $fontFamily;
  //       font-size: 26px;
  //       font-style: normal;
  //       font-weight: 700;
  //       line-height: normal;
  //       color: $secondaryColor;
  //       border-left: 1px solid #414042;
  //       border-right: 1px solid #414042;
  //       cursor: pointer;
  //       @media screen and (max-width: 768px) {
  //         font-size: 18px;
  //       }
  //       @media screen and (max-width: 470px) {
  //         font-size: 15px;
  //       }
  //     }

  //     .shopButton {
  //       width: 100%;
  //       background-color: transparent;
  //       border: none;
  //       font-family: $fontFamily;
  //       font-size: 26px;
  //       font-style: normal;
  //       font-weight: 700;
  //       line-height: normal;
  //       color: $thirdColor;
  //       cursor: pointer;
  //       @media screen and (max-width: 768px) {
  //         font-size: 18px;
  //       }
  //       @media screen and (max-width: 470px) {
  //         font-size: 15px;
  //       }
  //     }
  //   }
  // }

  .banner {
    background-color: #2a2a2b;
    color: #fff;
    width: 100%;
    p {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .hero-section {
    background-color: #414042;
    width: 100%;
    height: 500px;
    display: flex;
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .left-content {
      width: 60%;
      background-color: red;
      .main-content {
        background-color: #e7f0ff;
        width: 100%;
        padding: 20px 30px;
        overflow: hidden;
        h1 {
          margin: 0;
        }
        p {
          width: 70%;
        }
        .buttons {
          display: flex;
          gap: 10px;
          button {
            background-color: #3b7ded;
            padding: 10px 20px;
            font-size: 15px;
            font-weight: 600;
            color: #fff;
            border: none;
          }
          :nth-child(2) {
            background-color: #fff;
            color: #414042;
          }
        }
      }
    }
    .right-content {
      width: fit-content;
      border-radius: 50%;
      padding: 40px;
      background-color: #505050;
      .img {
        background-color: #fff;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        display: flex;
        padding: 20px;
        position: relative;
        img {
          width: 100%;
        }
      }
    }
  }

  // ----------------------

  .welcomeIsta {
    background-color: rgba(0, 0, 0, 0.04);
    height: 83vh;
    width: 100%;
    padding-top: 100px;
    @include flexCenter;
    @media screen and (max-width: 968px) {
      height: auto;
      padding-bottom: 50px;
    }

    .welcome {
      width: 90%;
      background-color: $light;
      border-radius: $radius;
      display: flex;
      height: 90%;
      gap: 30px;
      @media screen and (max-width: 968px) {
        flex-direction: column;
        width: 80%;
        height: auto;
      }

      .welcome-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 0px 0px 100px;
        gap: 10px;
        @media screen and (max-width: 968px) {
          width: 90%;
          padding: 30px;
        }

        .welcome-text {
          color: #414042;
          font-family: $fontFamily;
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0%;
        }

        img {
          width: 50%;
        }

        .description {
          color: #414042;
          text-align: justify;
          font-family: $fontFamily;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 27px;
        }
      }

      .welcome-right {
        width: 50%;
        @include flexCenter;
        // padding: 0px 100px;
        align-items: center;
        @media screen and (max-width: 968px) {
          width: 100%;
        }

        img {
          width: 80%;
        }
      }
    }
  }

  .start-buisness {
    height: 100vh;
    @include flexCenter;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .start {
      background-image: url(../../assets/svg/start-buiness.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 80%;
      width: 90%;
      position: relative;
      flex-direction: column;
      display: flex;
      align-items: center;
      border-radius: $radius;

      h2 {
        color: #fff;
        text-align: center;
        font-family: $fontFamily;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 50px;
      }

      p {
        color: rgba(255, 255, 255, 0.57);
        text-align: center;
        font-family: $fontFamily;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        margin-top: 0px;
        // line-height: 27px;
        /* 135% */
      }

      button {
        position: absolute;
        bottom: -25px;
        border-radius: $radius;
        background-color: #f1f2f2;
        width: 400px;
        height: 50px;
        color: #414042;
        font-family: $fontFamily;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: none;
        cursor: pointer;
      }
    }
  }

  .CEo {
    height: 100vh;
    @include flexCenter;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .founder {
      height: 100%;
      width: 90%;
      display: flex;
      align-items: center;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .welcome-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 0px 0px 100px;
        gap: 10px;
        height: 100%;
        @media screen and (max-width: 768px) {
          width: 100%;
          padding: 30px;
        }

        .welcome-text {
          color: #414042;
          font-family: $fontFamily;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin: 0px;
        }

        h2 {
          color: #414042;
          font-family: $fontFamily;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-top: 0%;
        }

        .welcome-des {
          color: #414042;
          text-align: justify;
          font-family: $fontFamily;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 27px;
          margin-top: 0%;
          /* 135% */
        }

        button {
          border-radius: $radius;
          background-color: #f1f2f2;
          width: 250px;
          height: 50px;
          color: #414042;
          font-family: $fontFamily;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          border: none;
          margin-top: 20px;
          cursor: pointer;
        }
      }

      .welcome-right {
        width: 50%;
        @include flexCenter;
        // padding: 0px 100px;
        align-items: center;

        img {
          width: 100%;
          border-radius: $radius;
        }
      }
    }
  }

  .meet {
    @include flexCenter;
    width: 100%;

    .meet-team {
      width: 80%;
      display: flex;
      justify-content: center;
      background-image: url(../../assets/svg/image1.svg);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: $radius;
      padding: 0px 10px;

      .meet-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        flex-flow: wrap;

        .meet-our {
          font-family: $fontFamily;
          font-size: 26px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          color: #fff;
        }

        .meet-explor {
          color: #fff;
          font-family: $fontFamily;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }

  .Email {
    @include flexCenter;
    width: 100%;
    margin-top: 50px;

    .email-box {
      width: 90%;
      background-color: #414042;
      border-radius: $radius;
      padding: 30px 0px;
      @include flexHorizontal;
      justify-content: center;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
      }
      .email-text {
        width: 40%;
        @media screen and (max-width: 768px) {
          width: 100%;
          text-align: center;
        }

        p {
          font-family: $fontFamily;
          font-size: 26px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          color: #fff;
          margin: 0%;
        }
      }

      .email-input {
        width: 40%;
        display: flex;
        @media screen and (max-width: 768px) {
          width: 70%;
        }

        .ant-input-affix-wrapper {
          background: #f2f2f2 !important;
          height: 50px !important;
          border: none !important;
          box-shadow: none !important;
          @include flexHorizontal;
          width: 80% !important;
          border-radius: 10px 0px 0px 10px !important;
        }

        button {
          height: 50px;
          padding: 0px 30px;
          border: none;
          background-color: #d9d9d9;
          border-top-right-radius: $radius;
          border-bottom-right-radius: $radius;
          color: #414042;
          font-family: $fontFamily;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          margin: 0%;
        }
      }

      .meet-explor {
        color: #fff;
        font-family: $fontFamily;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
